<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="about">
      <h1><span class="logo-text">Tech Blogs</span> <span></span></h1>
      <p>
        Share your story, ignite your creativity. Your voice matters here
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          +91 1234567890
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:gorlasarathkumar667@gmail.com">
            support@blog.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>